<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="ThemeBucket">

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/ns-default.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/ns-style-bar.css" />

<!--icheck-->
<link href="__PUBLIC__/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
<link href="__PUBLIC__/js/iCheck/skins/square/square.css" rel="stylesheet">
<link href="__PUBLIC__/js/iCheck/skins/square/red.css" rel="stylesheet">
<link href="__PUBLIC__/js/iCheck/skins/square/blue.css" rel="stylesheet">

<!--dashboard calendar-->
<link href="__PUBLIC__/css/clndr.css" rel="stylesheet">

<!--Morris Chart CSS -->
<link rel="stylesheet" href="__PUBLIC__/js/morris-chart/morris.css">

<!--common-->
<link href="__PUBLIC__/css/admin-style.css" rel="stylesheet">
<link href="__PUBLIC__/css/style-responsive.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="__PUBLIC__/js/html5shiv.js"></script>
<script src="__PUBLIC__/js/respond.min.js"></script>
<![endif]-->

